# dependencies
node_modules/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
npm-debug.log
.nyc_output/
coverage/

# System Files
.DS_Store
Thumbs.db

# JS files
lib/
src/**/*.js